<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>suggestag_ai.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>4C03DCD51C5D1AB500F06A44</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>4C03DCE91C5D1AB500F06A44</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>4C03DCF41C5D1AB500F06A44</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
